**1.Unique Words in a Sentence**

In [ ]:
sentence = input("Enter sentence: ")

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python has simple syntax
Unique words count: 7
Unique words: {'has', 'simple', 'python', 'easy', 'and', 'is', 'syntax'}

**2.Highest Salary from Employee Data**

In [ ]:
employees = { "Ravi": 75000,"Anita": 68000,"Kiran": 72000 }

highest_salary = 0
highest_employee = ""

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

**3.Find Maximum and Minimum Values**

In [ ]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

**4.Count Products Above Price Threshold**

In [ ]:
prices = [450, 1200, 899, 1500, 300]

count = 0

for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

**5.Calculate Attendance Percentage**

In [ ]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

**6.Remove Duplicate Phone Numbers**

In [ ]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

**7.Count Character Frequency**

In [ ]:
text = input("Enter text : ")

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

Enter text : python
{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**8.Convert List to Tuple**

In [ ]:
numbers = [10, 20, 30]

result = tuple(numbers)

print("Tuple:", result)

Tuple: (10, 20, 30)

**9.Check if Key Exists in Dictionary**

In [ ]:
employees = {"Ravi": 75000, "Anita": 68000}

key = "Ravi"

if key in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

**10.Calculate Average Marks**

In [ ]:
marks = [70, 75, 80, 65]

total = 0

for mark in marks:
    total += mark

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5